body {
    text-align: center;
    background: linear-gradient(135deg, #804FB3 50%, #6A359C 50%);
}

h1 {
    border: 10px royalblue ridge;
    font-size: 40px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gold;
    background: linear-gradient(#df1b1b 0%, #ce4444 100%);
    
}

#label {
    margin: 20px;
    padding: 5px;
    font-size: 27px;
    font-weight: 400;
    color: darkslateblue;
    background: linear-gradient(aqua 0%, #1a94b8 100%);
    box-shadow: 2px 2px slategray;
}

.buttons {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    font-size: 19px;
    font-weight: 300;
    background: #FF6200;
    
    border-radius: 10px;
    color: #52bf90;
    box-shadow: -5px -5px 50px  lightblue ;
    cursor: pointer;
}

img {
    opacity: 0.5;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(#49ab81 0%, #317256 100%);
    width: 100px;
}
#show-more{
    background-color: #317256;
    color: #df1b1b;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
    box-shadow: -5px -5px 50px  lightblue;
}
.extra-img{
    opacity: 0;
}
#show-less{
    opacity: 0;
    background-color: #317256;
    color: #df1b1b;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 50px  lightblue;
   
}